.SidebarNav {
  display: flex;
  flex-direction: column;

  &__list {
    @apply flex flex-col;

    &-item {
      @apply list-none p-2 flex-1 text-gray-300 hover:text-white text-sm font-bold;

      &--active {
        @apply bg-gray-800;
      }
    }
  }

  &__btn {
    width: 100%;
    @apply flex;

    align-items: center;

    &-icon {
      fill: none;
      stroke: currentColor;

      &-wrapper {
        @apply pl-4;
        @apply pr-3;
      }

      &--active {
        fill: white;
      }

      &--stroke {
        stroke-width: 2;
      }
    }
  }
}
